$ cat .gitignore

# Can ignore specific files
.DS_Store

# Use wildcards as well
*.fig
*.txt
*.csv
*.pdf
*.tiff
*.mov
*.dat
*.mat
*.eps
*.svg
*.pdf
*.tiff

# Can also ignore all directories and files in a directory.
/AnalysisFigs
/ExportFiles
/Sightings
/DragTheoryComparison/Figures

DragTheoryComparison/shortenEffect.m~

DragTheoryComparison/shortenEffect.m~

*.m~

*.m~

*.m~
